{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}
    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation" aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p" rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ __.previous | default: "Previous" }}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n" rel="next">
                        {{ __.next | default: "Next" }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

<hr>

<div class="copyright text-center text-gray" role="contentinfo">
    <i class="fa fa-copyright"></i>
    <span class="time">
        {%- assign created_time = rest_created_at | date: "%Y" -%}
        {%- assign updated_time = rest_updated_at | date: "%Y" -%}
        {%- if created_time == updated_time -%}
            {{- created_time -}},
        {%- else -%}
            {{- created_time }}-{{ updated_time -}},
        {%- endif -%}
    </span>
    <a class="text-gray" href="{{ docs.owner_url }}" target="_blank">
        {{- author -}}
    </a>
    {{ __.revision | default: "Revision" }}
    <a class="text-gray" href="{{ docs.repository_url }}/commit/{{ docs.build_revision }}" title="{{ docs.build_revision }}" target="_blank">
        {{- docs.build_revision | slice: 0, 7 -}}
    </a>
</div>

<script>
const GH_API_URL = 'https://api.github.com/repos/riteshharjani/test/issues/2/comments';

let request = new XMLHttpRequest();
request.open( 'GET', GH_API_URL, true);
request.onload = function() {
	if ( this.status >= 200 && this.status < 400 ) {
		let response = JSON.parse( this.response );

		for ( var i = 0; i < response.length; i++ ) {
			document.getElementById( 'gh-comments-list' ).appendChild( createCommentEl( response[ i ] ) );
		}


		if ( 0 != response.length ) {
			document.getElementById( 'no-comments-found' ).innerHTML = ' ';
		}
	} else {
		console.error( this );
	}
};

function createCommentEl( response ) {
	let user = document.createElement( 'a' );
	user.setAttribute( 'href', response.user.url.replace( 'api.github.com/users', 'github.com' ) );
	user.classList.add( 'user' );

	let userAvatar = document.createElement( 'img' );
	userAvatar.classList.add( 'avatar' );
	userAvatar.setAttribute( 'src', response.user.avatar_url );

	user.appendChild( userAvatar );

	let commentLink = document.createElement( 'a' );
	commentLink.setAttribute( 'href', response.html_url );
	commentLink.classList.add( 'comment-url' );
	commentLink.innerHTML = '#' + response.id + ' - ' + response.created_at;

	let commentContents = document.createElement( 'div' );
	commentContents.classList.add( 'comment-content' );
	commentContents.innerHTML = response.body;

	let comment = document.createElement( 'li' );
	comment.setAttribute( 'data-created', response.created_at );
	comment.setAttribute( 'data-author-avatar', response.user.avatar_url );
	comment.setAttribute( 'data-user-url', response.user.url );

	comment.appendChild( user );
	comment.appendChild( commentContents );
	comment.appendChild( commentLink );

	return comment;
}
request.send();
</script>


<div class="github-comments">
	<h2>Comments</h2>
	<ul id="gh-comments-list"></ul>
	<p id="no-comments-found">No comments found for this article. Comments posted before 2019-09-15 are no longer available due to a system migration since I no longer use Disqus for comments.</p>
	<p id="leave-a-comment">Join the discussion for this article on <a href="https://api.github.com/repos/riteshharjani/test/issues/2/comments">this ticket</a>. Comments appear on this page instantly.</p>
</div>
